<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
    <header>
        <h1>Redefinir Senha</h1>
    </header>
    <main>
        <form id="resetPasswordForm">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
            <button type="submit">Enviar Link de Redefinição</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Organizador Financeiro para Negócios. Todos os direitos reservados.</p>
    </footer>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/11.6.1/firebase-app.js";
        import { getAuth, sendPasswordResetEmail } from "https://www.gstatic.com/firebasejs/11.6.1/firebase-auth.js";

        const firebaseConfig = {
            apiKey: "AIzaSyCm00J9vJSwnUjAdJDgfFCISitQBTpWmNM",
            authDomain: "smartbusiness-ca3f9.firebaseapp.com",
            projectId: "smartbusiness-ca3f9",
            storageBucket: "smartbusiness-ca3f9.firebasestorage.app",
            messagingSenderId: "419276974022",
            appId: "1:419276974022:web:413ac5aa1669335f93f4c7"
        };

        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);

        document.getElementById("resetPasswordForm").addEventListener("submit", async (event) => {
            event.preventDefault();
            const email = document.getElementById("email").value.trim();

            try {
                await sendPasswordResetEmail(auth, email);
                alert("E-mail de redefinição de senha enviado com sucesso!");
            } catch (error) {
                console.error("Erro ao enviar e-mail de redefinição:", error);
                alert("Erro ao enviar e-mail. Por favor, tente novamente.");
            }
        });
    </script>
</body>
</html>